<!DOCTYPE html>
{% extends 'helper/home.html' %}

{% block body_block %}

    <div class="container" align="center">
        <p>chicagocarhelp was founded to help drivers get the fastest and cheapest roadside assistance available in Chicago & Suburbs.
        Our services include Car jump start Service,Fuel delivery, Car unlock and Unfreeze car door. We can get you the help
        in minutes because we mainly operate in Chicago & Suburbs. You don't have to call to get an estimate. Our prices are
        the lowest in Chicago and you only pay after your roadside assistance was completed successfully. A simple click is
        all it takes to get help without waiting and waiting to get help.</p>


    <div align="center">

        <div style="border: 1px black solid; border-radius: 4px; margin: 0 1px 4px 1px">
            <a href="tel:+17085489664">708-548-9664</a>
        </div>

        <a href="{% url 'help:home'%}"><button class="btn btn-primary">GET HELP NOW</button></a>
    </div>

    <div align="center" class="top_margin">
        <div class="purple_shadow">
            <h6>Services</h6>
            <p>Car Lockout</p>
            <p>Gas Delivery</p>
            <p>Jump Start Car Service</p>
            <p>Unfreeze Frozen door</p>

        </div>
    </div>
</div>

{% endblock %}