<!DOCTYPE html>
{% extends 'helper/home.html' %}

{% block body_block %}
    <div class="bottom_margin container" align="center">

                            <div style="position: relative; text-align: center; color: white">
                            <div style="margin-top: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <p class="pic_background make_big_two">CAR LOCKOUT SERVICE</p>
                                <p class="pic_background make_big_two">Locked out? Keys left in the car?We can get you the help you need in minutes.</p>

                            </div>
                        <img style="width: 100%"
                             src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo" alt="car lockout">
                        </div>
        <div class="top_margin bottom_margin">
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Need fuel delivery?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Need a jump start?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Need a flat tire change?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Unlock car door?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">unfreeze car door?</button></a>

        </div>

    <p class="make_big"> Just click the blue button and within
        minutes you will receive a text from us to let you know when
        we will arrive to unlock your car. You don't have to call or enter your address manually.</p>
        <div align="center">
            <a href="{% url 'help:home'%}"><button class="btn btn-primary">GET HELP NOW</button></a>
        </div>

        <div style="margin-bottom: 10px;margin-top: 50px; border: 1px solid black; padding: 5px">
            <div class="top_margin2">
            <p class="put_left" style="color: purple">NO CALL REQUIRED</p>
            <p>You don't have to call you only need to click a button and in a
                few minutes you will receive a message to let you know when help will arrive to unlock your car.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">GET THE BEST CAR UNLOCK SERVICE HELP NEAR YOU FAST</p>
            <p>We mainly operate in Chicago so you can be sure you will get your car unlocked in minutes.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">THE CHEAPEST ROADSIDE ASSISTANCE</p>
            <p>We only charge $49 for car unlock. Other guys charge you over $75 to do the same job.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">Where are we available?</p>
            <p>reliable emergency roadside assistance for car lockout, jump starts, out of gas and tire changes. We operate in Chicago, Cicero and Berwyn. </p>
            </div>
        </div>


    <h4 class="top_margin" style="color: purple">What to do if you forgot your keys inside of your car.</h4>

<div class="purple_shadow_two">
<h5>Do-It-Yourself Methods</h5>
<p>Go to Youtube and search how to unlock a car. Follow the instructions carefully without damaging anything.</p>
</div>




    <div class="purple_shadow">
        <h6>More info</h6>
        <a href="https://lifehacker.com/5848743/break-into-your-car-the-safe-and-easy-way">How to unlock your own car</a><br>
        <a href="http://blogs.iu.edu/marketingandmore/2018/08/14/5-auto-lockout-tips/">5 auto lockout tips</a><br>
        <a href="https://www.doityourself.com/stry/how-to-pick-manual-car-door-locks">How to pick a car</a>
    </div>

</div>
{% endblock %}