<!DOCTYPE html>
{% extends 'helper/home.html' %}



{% block body_block %}

<h1><strong>Jump start service</strong></h1>

    <div class="bottom_margin container" align="center">
                            <div style="position: relative; text-align: center; color: white">
                            <div style="margin-top: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            </div>
                            <img style="width: 100%"
                             src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/chicagocarhelp_jumpstartservice.png"
                             alt="chicagocarhelp jump start car service" title="Jump Start Car Service">
                        </div>

<h2>jump start service in Chicago for $39</h2>
    <h5 style="margin: 15px"> Dead car battery? Need a jump start service? Just click the blue button to receive a <strong>jump start service</strong> to your car.
       </h5>
        <div align="center">
            <a href="{% url 'help:home'%}"><button class="bottom_margin btn btn-info btn-lg btn-block">REQUEST A JUMP START HERE</button></a>
                       <h6>For better/faster service please click the blue button. You can also call us.</h6>
                        <a href="tel:+17085489664"><button class="btn btn-success btn-lg">CALL</button></a>
                        <p>708-548-9664</p>
        </div>

        <div align="center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.71601800894!2d-88.01234150586738!3d41.83339249957157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e33ad94b2b981%3A0x226556739ebfc1f3!2sChicagocarhelp!5e0!3m2!1sen!2sus!4v1566764274203!5m2!1sen!2sus" width="340" height="240" frameborder="0" style="border:0; margin-top: 5px" allowfullscreen></iframe>
</div>


                <div style="margin-bottom: 10px;margin-top: 50px; border: 1px solid black; padding: 5px">
            <div class="top_margin2">
            <h3 class="put_left" style="color: #00691d">Fast Jump Start Service in Chicago</h3>
            <p>You don't have to call you only need to click a button and in a
                few minutes you will receive a message to let you know when help will arrive to jump start your car.</p>
            </div>
            <div class="top_margin2">
            <h3 class="put_left" style="color: #00691d">Best Jump Start Service Near You</h3>
            <p>We mainly operate in Chicago so you can be sure you will get help to jump start your car in minutes.</p>
            </div>
            <div class="top_margin2">
            <h3 class="put_left" style="color: #00691d">The Cheapest Jump Start Service</h3>
            <p>We only charge $39 to jump start your car. Other guys charge you over $70 to do the same job.</p>
            </div>
            <div class="top_margin2">
            <h3 class="put_left" style="color: #00691d">Where are we available?</h3>
            <p>Reliable emergency roadside assistance for car lockout, jump starts, out of gas and tire changes. We operate in Chicago, Cicero and Berwyn. </p>
            </div>
            </div>

<div class="top_margin">
    <h4 style="color: black">How did this happen?</h4>

    <p>You're late for work and rush out to your car, only to find that it won't start.
        The headlights are dim and the engine simply refuses to turn over.
        You realize that your battery is dead. How did this happen?</p>
</div>

<div class="purple_shadow_two">
<h5>Headlights or dome lights left on​​​.</h5>
<p>Headlights, or even a very dim dome light, will drain a battery dead overnight.</p>
<p>Make sure to check for any interior lights when it's dark outside.</p>
<p>Some headlights are designed to remain on for a while, but a malfunctioning system may leave them on permanently.</p>
</div>


<div class="purple_shadow_two">
<h5>Battery in weak or poor condition.</h5>
<p>A poorly maintained or weak battery may not hold a charge very well.</p>
<p>Even small drains, like the memory function in your car radio, may kill a very weak battery.</p>
</div>



<div class="purple_shadow_two">
<h5>Corroded or loose battery connections.</h5>
<p>​Corroded battery connections can prevent the charging system from topping off your battery when you are driving.</p>
<p>Loose battery connections can also cause problems.</p>
</div>


<div class="purple_shadow_two">
<h5>Extremely hot or cold temperatures.</h5>
<p>​​Hot or cold weather won't kill a battery that's new or in good shape, but a weak or old battery may fail in extreme conditions.</p>
<p>Extremely hot or cold weather can also magnify other underlying issues.</p>
</div>


<div style="margin-bottom: 10px;margin-top: 50px; border: 1px solid black; padding: 5px">
    <h6>About</h6>

<p>Chicagocarhelp was created because of the high prices for a jump start service in chicago. We feel that it shouldn't cost $75
    or $100 dollars for a simple jump start service in chicago. That won't be a problem anymore because chicagocarhelp only charges
    $39 dollars for a jump start and nothing more. The cheapest option available in chicago and suburbs and we arrive in 8 to 20 minutes. You only pay if the services was completed
    successfully and the car was able to start. Next time you need a jump start service near you go to www.chicagocarhelp.com. Its fast and cheap. We have helped thousands of people with a
    jump start. Chicagocarhelp has a five start rating.</p>


</div>

<div class="purple_shadow">
    <h6>More info</h6>
                                                                   <a href="https://m.facebook.com/jumpstartcar">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/facebook.png" alt="Free jump start service" style="margin-right: 5px; width: 40px; height: auto">
</a>

                                <a href="https://youtu.be/KSVwtD1qUG0">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/youtube.png" alt="Free jump start service" style="margin-right: 5px; width: 40px; height: auto">
</a>

                                <a href="https://g.page/chicagocarhelp">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/google.png" alt="Free jump start service" style="margin-right: 5px; width: 40px; height: auto">
</a>
                                <a href="https://www.yelp.com/biz/chicagocarhelp-cicero-3">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/Yelp.png" alt="Free jump start service" style="margin-right: 5px; width: 40px; height: auto">
</a>

                                    <a href="https://www.linkedin.com/company/chicagocarhelp">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/linkedin.png" alt="Free jump start service" style="margin-right: 5px; width: 40px; height: auto">
</a>

                                    <a href="http://chicagocarhelp.tumblr.com">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/tumblr.png" alt="Free jump start service" style="margin-right: 5px; width: 40px; height: auto">
</a>
                                    <br>

    <a href="https://www.dummies.com/home-garden/car-repair/how-to-jump-start-a-car/">How to jump start your car</a><br>
    <a href="https://www.goodhousekeeping.com/institute/a22833/how-to-use-jumper-cables/">How to user jumper cables</a><br>
    <a href="http://jumpstarterexpert.com/how-to-use-a-portable-jump-starter/">How to use a jump starter</a>
</div>

</div>


{% endblock %}