    <h5 style="color: coral">La asistencia en carretera más rápida disponible en Cicero, Chicago y Berwyn</h5>
        <div class="card text-white bg-dark mb-3 purple_shadow">
  <div class="card-body">
    <p class="card-text">Simplemente haga clic en el servicio que requiere y en unos minutos recibirá un mensaje nuestro para informarle cuándo llegará la ayuda. No tiene que ingresar la dirección.</p>
  </div>
</div>

    <h6>Select your language for better service</h6>
    <h6>Por favor elija su idioma preferido para atenderlo mejor</h6>

        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'help:add'%}" method="post">
            {% csrf_token %}
                {% if x.language == 'english' %}
                    <button type="submit" name="language" value="english" class="btn btn-success">English</button>
                {% else %}
                    <button type="submit" name="language" value="english" class="btn btn-secondary">English</button>
                {% endif %}
            </form>
            <form action="{% url 'help:add'%}" method="post">
            {% csrf_token %}
                {% if x.language == 'espanol' %}
            <button type="submit" name="language" value="espanol" class="btn btn-success">Español</button>
                {% else %}
                <button type="submit" name="language" value="espanol" class="btn btn-secondary">Español</button>
                {% endif %}
            </form>
        </div>

        <div class="row">
            {% if not x.keys %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo" alt="keys">

                  <div class="card-body">
                    <h5 class="card-title">¿Olvidó las llaves de su carro dentro de su carro?</h5>
                    <p class="card-text">Podemos abrir tu puerta sin dañar nada.</p>
                    <p class="price card-text">precio: $49</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="keys" value="keys">
                                <button type="submit" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}

            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">agregado</h1></div>
                        <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo" alt="keys">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">¿Olvidó las llaves de su carro dentro de su carro?</h5>
                        <p class="card-text">Podemos abrir tu puerta sin dañar nada.</p>
                        <p class="price card-text">precio: $49</p>
                        <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>
                    </div>
                </div>
            </div>

        {% endif %}

        {% if not x.freeze %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="frozen">

                  <div class="card-body">
                    <h5 class="card-title">¿Puerta congelada?</h5>
                    <p class="card-text">Podemos descongelar la puerta de su carro en menos de 5 minutos.</p>
                    <p class="price card-text">precio: $49</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="frozen" value="frozen">
                                <button type="submit" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">agregado</h1></div>
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="frozen">
                    </div>

                  <div class="card-body">
                    <h5 class="card-title">¿Puerta congelada?</h5>
                    <p class="card-text">Podemos descongelar la puerta de su carro en menos de 5 minutos.</p>
                    <p class="price card-text">precio: $49</p>
                        <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>

                  </div>
                </div>
            </div>
        {% endif %}


        {% if not x.battery %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1tjeNkV-Fyy5Zm0-lbdIitDTiLB3muG4c" alt="battery">

                  <div class="card-body">
                    <h5 class="card-title">¿Bateria muerta?</h5>
                    <p class="card-text">Podemos ayudarte con tu batería muerta.</p>
                    <p class="price card-text">precio: $49</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="battery" value="battery">
                                <button type="submit" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}
                        <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">Agregado</h1></div>
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1tjeNkV-Fyy5Zm0-lbdIitDTiLB3muG4c" alt="battery">
                    </div>

                  <div class="card-body">
                    <h5 class="card-title">¿Bateria muerta?</h5>
                    <p class="card-text">Podemos ayudarte con tu batería muerta.</p>
                    <p class="price card-text">precio: $49</p>
                        <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>

                  </div>
                </div>
            </div>

        {% endif %}

        {% if not x.gas %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="fuel">

                  <div class="card-body">
                    <h5 class="card-title">¿Necesitas combustible?</h5>
                    <p class="card-text">Podemos entregarle 2.2 galones de combustible en caso de emergencia.</p>
                    <p class="price card-text">precio: $59</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="fuel" value="fuel">
                                <button type="submit" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}

                        <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                                        <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">Agregado</h1></div>
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="fuel">
                    </div>

                  <div class="card-body">
                    <h5 class="card-title">¿Necesitas combustible?</h5>
                    <p class="card-text">Podemos entregarle 2.2 galones de combustible en caso de emergencia.</p>
                    <p class="price card-text">Precio: $59</p>
                         <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>

                  </div>
                </div>
            </div>
        {% endif %}
        {% if not x.tire %}
            <div class="col-lg-6 col-12">
                <div class="card_width_tire card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1Ei_BiAqGkn_OT-zt3p64Q_Nv6hJhwqBV" alt="tire">

                  <div class="card-body">
                    <h5 class="card-title">¿Neumático desinflado?</h5>
                    <p class="card-text">Podemos instalar un neumático de repuesto temporal para su coche. O solicite una llanta de repuesto si no la tiene</p>

                    <p class="price card-text">precio: $<span id="total">70</span></p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                  <label for="sell">Haga clic para agregar llanta de repuesto si no tienes una <select id="sell" name="quantity">
                                    <option value="0" selected>aquí</option>
                                    <option value="1">1 llanta</option>
                                  </select></label>
                                <input type='hidden' name="tires" value="tires">
                                <button type="submit" id="tires" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}
            <div class="col-lg-6 col-12">
                <div class="card_width_tire card purple_shadow">
                    <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">agregado</h1></div>
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1Ei_BiAqGkn_OT-zt3p64Q_Nv6hJhwqBV" alt="tire">
                    </div>

                  <div class="card-body">
                        <h5 class="card-title">¿Neumático desinflado?</h5>
                        <p class="card-text">Podemos instalar un neumático de repuesto temporal para su coche. O solicite una llanta de repuesto si no la tiene</p>
                        {% if x.quantity == 1 %}
                            <p class="price">Tu agregaste {{ x.quantity }} llanta de repuesto</p>
                            <p class="price">$99</p>
                        {% else %}
                            <p class="price">price: $70</p>
                        {% endif %}
                        <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>

                  </div>
                </div>
            </div>
        {% endif %}


        </div>


        <div class="top_margin">
            <div align="center"><h3 style="color: #cc1111">Por favor enciende tu ubicación en tu celular</h3></div>
            <div id="map" class="bottom_margin top_margin"></div>

                        <button class="btn btn-primary" id="incorrect_button">¿Tu dirección es incorrecta?</button>
                <div style="visibility: hidden; display: none" id="incorrect_div">
                    <p>Recargar y activar la ubicación <span><img src="http://drive.google.com/uc?export=view&id=1g1fHSex0x2pi3VJY3I6dz2iET-53qpji" alt="tire" style="width: 25px; height: 25px"></span></p>
                    <div style="margin-top: -15px; margin-bottom: 10px">
                        <a href="{% url 'help:services'%}"><button class="btn btn-primary btn-sm">Actualizar página</button></a>
                    </div>
                    <label>O ingrese la dirección manualmente<input type="text" id="manul_address"></label>
                </div>
        </div>



    <div class="col-lg-12">


        <p align="center">Cuando esté listo para agregar sus servicios, presione el botón de abajo</p>
        {% for bere in all %}
        <h3 style="color: mediumseagreen">Total: ${{ bere.total }}</h3>
            <h5 style="color: #0005cc">Aceptamos tarjeta de crédito / débito, efectivo o Venmo.</h5>
            <h5 style="color: #0005cc">Se le cobrará cuando su servicio haya sido completado</h5>
            <form action="{% url 'help:thankyou'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="manual_address" value="" id="add_manual_address">
                <input type="hidden" name="grand_total" value="{{ bere.total }}">
                <input type='hidden' name="long" value="fuel" id="lat">
                <p class="small" id="phone_output"></p>
                <label for="phone">Número de teléfono: <input type="text" required name="phone" placeholder="ingresa número telefónico" id="phone"></label>
                <button type="submit" class="bottom_margin btn btn-primary btn-lg btn-block" id="request">Solicitar servicio</button>

            </form>
        {% endfor %}

        <h1 id="lat"></h1>
        <h1 id="long"></h1>
    </div>




