        <div class="card text-white bg-dark mb-3 purple_shadow">
  <div class="card-body">
    <p class="card-text">Obtenga la asistencia en carretera más rápida en Chicago, Cicero y Berwyn. No es
        necesario llamar. Le pasamos corriente a su carro, le llevamos gasolina si la necesita y desbloqueamos la puerta de su auto.</p>
      <p style="color: coral">Puedes cancelar en cualquier momento sin costo alguno y usted solo paga si el servicio fue completado</p>
      <p style="background-color: rgba(255,6,0,0.57)">Simplemente ingrese su número y haga clic en el botón azul en la parte inferior de la página</p>
      <p style="background-color: green">Para recibir ayuda más rápida llame al 708-548-9664</p>

  </div>
</div>


            {% if berenise %}
    <div align="center">
        <div class="business">
            <h1  class="business_white">Lo siento, ya está cerrado</h1>
            <h3>{{ vacations }}</h3>
        </div>
    </div>
        {% elif display_message %}
            <div align="center">
            <div  class="business">
                <h1 class="business_white">Lo siento, ya está cerrado</h1>
                <h3>Abierto mañana a las 5AM</h3>
            </div>
            </div>

    {% endif %}


        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'help:add'%}" method="post">
            {% csrf_token %}
                {% if x.language == 'english' %}
                    <button type="submit" name="language" value="english" class="btn btn-success btn-sm">English</button>
                {% else %}
                    <button type="submit" name="language" value="english" class="btn btn-secondary btn-sm">English</button>
                {% endif %}
            </form>
            <form action="{% url 'help:add'%}" method="post">
            {% csrf_token %}
                {% if x.language == 'espanol' %}
            <button type="submit" name="language" value="espanol" class="btn btn-success btn-sm">Español</button>
                {% else %}
                <button type="submit" name="language" value="espanol" class="btn btn-secondary btn-sm">Español</button>
                {% endif %}
            </form>
        </div>

            <img src="http://drive.google.com/uc?export=view&id=1o-hT4UGBgYYcdPapgxRiUGfr3_RSUbw-" alt="roadside assistance" style="width: 150px; display: block; margin-top: 10px">
        <div align="center" style="border: 2px solid white; margin-top: 5px; padding: 5px; width: 335px; background-color: #29abe2; border-radius: 7px">
            <h5 style="color: white">RAPIDO</h5>
        <h5 style="color: white">Te llegaremos en 10 a 20 minutos o menos.</h5>
        </div>
        <div align="center">

            <div style="border: 1px solid black; width: 335px; height: 240px; background-color: #bce2b7; border-radius: 7px">
                <p style="border: black 1px solid; background-color: black; color: white; width: 300px; border-radius: 7px; margin-top: 5px">Nuestro precio</p>
                <img src="http://drive.google.com/uc?export=view&id=18XSPp8TRV7mjd_7GsGIaDuBFP_59Mt-l" alt="chicago car help" style="width: 180px;">
                <img src="http://drive.google.com/uc?export=view&id=1y61jTggL5HLEtFDQoMahwEnCrNvK3tTp" alt="cheap" style="width: 240px">
            </div>

            <button id="dis-compe" class="btn btn-dark" style="margin-top: 8px">Ver precios de la competencia</button>
            <div style="visibility: hidden; display: none" id="show-compe">
            <div style="border: black solid 1px; width: 335px; height: 350px; background-color: #cda4a4; border-radius: 7px; margin-top: 5px">
                <p style="border: black 1px solid; background-color: black; color: white; width: 300px; border-radius: 7px; margin-top: 5px">Precios de la competencia</p>
                <img src="http://drive.google.com/uc?export=view&id=1iNfB5Ac19V57oPrrQQTq78xTxrA_vxI0" alt="time" style="width: 180px; margin-top: 10px">
                <img src="http://drive.google.com/uc?export=view&id=1crhAYcRsWQDuF-DGK0NgzwqCfB2LBuKw" alt="time" style="width: 150px">
                <a style="display: block" href="https://www.geturgently.com">¿No nos crees? ver precio</a>

                <img src="http://drive.google.com/uc?export=view&id=1NCBHNXlZUjTaRIh7tUr12dTUhDWYJV-g" alt="time" style="width: 180px; margin-top: 20px">
                <img src="http://drive.google.com/uc?export=view&id=1crhAYcRsWQDuF-DGK0NgzwqCfB2LBuKw" alt="time" style="width: 150px">
                <a style="display: block" href="https://mw.honkforhelp.com">¿No nos crees? ver precio</a>
            </div>
            </div>

        </div>

        <div class="row" align="center" style="margin-top: 10px">
            <div class="col-6">
                <img src="http://drive.google.com/uc?export=view&id=1e2_esc5ySNURiMJGnlXpOoTDhHzYnhZA" alt="roadside assistance" style="width: 100px">

            </div>
            <div class="col-6">
                <img src="http://drive.google.com/uc?export=view&id=1JEsbn89Uvka7gKRp1zsGzTS0AQRZ6rUs" alt="fuel delivery" style="width: 150px">
                <p>Five star rating</p>
            </div>
        </div>






        <div class="row">


                {% if not x.battery %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1tjeNkV-Fyy5Zm0-lbdIitDTiLB3muG4c" alt="car jump start">

                  <div class="card-body">
                    <h5 class="card-title">¿Carro sin corrinte?</h5>
                    <p class="card-text">Podemos ayudarte a encender tu carro.</p>
                    <p class="price card-text">precio: $39</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="battery" value="battery">
                                <button type="submit" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}
                        <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">Agregado</h1></div>
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1tjeNkV-Fyy5Zm0-lbdIitDTiLB3muG4c" alt="car jump start">
                    </div>

                  <div class="card-body">
                    <h5 class="card-title">¿Carro sin corrinte?</h5>
                    <p class="card-text">Podemos ayudarte a encender tu carro.</p>
                    <p class="price card-text">precio: $39</p>
                        <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>

                  </div>
                </div>
            </div>

        {% endif %}




            {% if not x.keys %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo" alt="unlock car">

                  <div class="card-body">
                    <h5 class="card-title">¿Olvidó las llaves de su carro dentro de su carro?</h5>
                    <p class="card-text">Podemos abrir tu puerta sin dañar nada.</p>
                    <p class="price card-text">precio: $39</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="keys" value="keys">
                                <button type="submit" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}

            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">agregado</h1></div>
                        <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo" alt="unlock car">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">¿Olvidó las llaves de su carro dentro de su carro?</h5>
                        <p class="card-text">Podemos abrir tu puerta sin dañar nada.</p>
                        <p class="price card-text">precio: $39</p>
                        <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>
                    </div>
                </div>
            </div>

        {% endif %}

        {% if not x.freeze %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="unfreeze car door">

                  <div class="card-body">
                    <h5 class="card-title">¿Puerta congelada?</h5>
                    <p class="card-text">Podemos descongelar la puerta de su carro en menos de 5 minutos.</p>
                    <p class="price card-text">precio: $39</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="frozen" value="frozen">
                                <button type="submit" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">agregado</h1></div>
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="unfreeze car door">
                    </div>

                  <div class="card-body">
                    <h5 class="card-title">¿Puerta congelada?</h5>
                    <p class="card-text">Podemos descongelar la puerta de su carro en menos de 5 minutos.</p>
                    <p class="price card-text">precio: $39</p>
                        <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>

                  </div>
                </div>
            </div>
        {% endif %}




        {% if not x.gas %}
            <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="emergency fuel delivery">

                  <div class="card-body">
                    <h5 class="card-title">¿Necesitas combustible?</h5>
                    <p class="card-text">Podemos entregarle 2 galones de combustible en caso de emergencia.</p>
                    <p class="price card-text">precio: $39</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="fuel" value="fuel">
                                <button type="submit" class="btn btn-outline-success">Agregar Servicio</button>
                            </form>
                  </div>
                </div>
            </div>
        {% else %}

                        <div class="col-lg-6 col-12">
                <div class="card_width card purple_shadow">
                                        <div class="card-img-caption">
                        <div class="card-text"><h1 class="added">Agregado</h1></div>
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="emergency fuel delivery">
                    </div>

                  <div class="card-body">
                    <h5 class="card-title">¿Necesitas combustible?</h5>
                    <p class="card-text">Podemos entregarle 2 galones de combustible en caso de emergencia.</p>
                    <p class="price card-text">Precio: $39</p>
                         <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>

                  </div>
                </div>
            </div>
        {% endif %}
{#        {% if not x.tire %}#}
{#            <div class="col-lg-6 col-12">#}
{#                <div class="card_width_tire card purple_shadow">#}
{#                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1Ei_BiAqGkn_OT-zt3p64Q_Nv6hJhwqBV" alt="flat tire change">#}
{##}
{#                  <div class="card-body">#}
{#                    <h5 class="card-title">¿Neumático desinflado?</h5>#}
{#                    <p class="card-text">Podemos instalar un neumático de repuesto temporal para su coche. O solicite una llanta de repuesto si no la tiene</p>#}
{##}
{#                    <p class="price card-text">precio: $<span id="total">70</span></p>#}
{#                            <form action="{% url 'help:add'%}" method="post">#}
{#                                {% csrf_token %}#}
{#                                  <label for="sell">Haga clic para agregar llanta de repuesto si no tienes una <select id="sell" name="quantity">#}
{#                                    <option value="0" selected>aquí</option>#}
{#                                    <option value="1">1 llanta</option>#}
{#                                  </select></label>#}
{#                                <input type='hidden' name="tires" value="tires">#}
{#                                <button type="submit" id="tires" class="btn btn-outline-success">Agregar Servicio</button>#}
{#                            </form>#}
{#                  </div>#}
{#                </div>#}
{#            </div>#}
{#        {% else %}#}
{#            <div class="col-lg-6 col-12">#}
{#                <div class="card_width_tire card purple_shadow">#}
{#                    <div class="card-img-caption">#}
{#                        <div class="card-text"><h1 class="added">agregado</h1></div>#}
{#                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1Ei_BiAqGkn_OT-zt3p64Q_Nv6hJhwqBV" alt="flat tire change">#}
{#                    </div>#}
{##}
{#                  <div class="card-body">#}
{#                        <h5 class="card-title">¿Neumático desinflado?</h5>#}
{#                        <p class="card-text">Podemos instalar un neumático de repuesto temporal para su coche. O solicite una llanta de repuesto si no la tiene</p>#}
{#                        {% if x.quantity == 1 %}#}
{#                            <p class="price">Tu agregaste {{ x.quantity }} llanta de repuesto</p>#}
{#                            <p class="price">$99</p>#}
{#                        {% else %}#}
{#                            <p class="price">price: $70</p>#}
{#                        {% endif %}#}
{#                        <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Eliminar todo</button></a>#}
{##}
{#                  </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}


        </div>




<p style="color: red; margin-top: 10px">Ingresa tu dirección</p><input type="text" id="manul_address" placeholder="Dirección" style="padding: 3px;
                                                       border: 1px solid #571746;
                                                       border-radius: 5px">
    <div class="col-lg-12">

        {% for bere in all %}

           {% if bere.total %}
        <h3 style="color: #171717"> <span style="color: green">Total:</span> Se le cobrará ${{ bere.total }} cuando su servicio haya sido completado</h3>
         <p style="color: coral">Puedes cancelar en cualquier momento sin costo alguno</p>

            {% endif %}
            <h5 style="color: #0005cc">Aceptamos tarjeta de crédito / débito, efectivo o Venmo.</h5>
            <form action="{% url 'help:thankyou'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="manual_address" value="" id="add_manual_address">
                <input type="hidden" name="grand_total" value="{{ bere.total }}">
                <input type='hidden' name="long" value="fuel" id="lat">
                <p class="small" id="phone_output"></p>
                <label for="phone">
                    <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1-KalT8-Eolxhbs19mUmjqQL9wF4eLpO5"
                         alt="tire" style="width: 20px; height: 20px; margin-top: -10px">
<input type="text" required name="phone" placeholder="ingresa número telefónico" id="phone" style="padding: 3px; border: 1px solid rebeccapurple; border-radius: 5px"></label>
                <button type="submit" class="bottom_margin btn btn-primary btn-lg btn-block" id="request">Solicitar servicio</button>

            </form>
        {% endfor %}

        <h1 id="lat"></h1>
        <h1 id="long"></h1>
    </div>




