<!DOCTYPE html>
{% extends 'helper/home.html' %}

{% block body_block %}
    <div class="bottom_margin container" align="center">

                                <div style="position: relative; text-align: center; color: white">
                            <div style="margin-top: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <p class="pic_background make_big_two">FLAT TIRE CHANGE SERVICE</p>
                                <p class="pic_background make_big_two">Flat tire? Need a tire change?We can get you the help you need in minutes.</p>

                            </div>
                                <img style="width: 100%"
                             src="http://drive.google.com/uc?export=view&id=1Ei_BiAqGkn_OT-zt3p64Q_Nv6hJhwqBV" alt="flat tire change">
                        </div>


        <div class="top_margin bottom_margin">
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Need fuel delivery?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Need a jump start?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Need a flat tire change?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Unlock car door?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">unfreeze car door?</button></a>

        </div>


    <p class="make_big"> Just click the blue button and within
        minutes you will receive a text from us to let you know when
        we will arrive to change your flat tire. You don't have to call or enter your address manually.</p>
        <div align="center">
            <a href="{% url 'help:home'%}"><button class="btn btn-primary">GET HELP NOW</button></a>
        </div>


        <div style="margin-bottom: 10px;margin-top: 50px; border: 1px solid black; padding: 5px">
            <div class="top_margin2">
            <p class="put_left" style="color: purple">NO CALL REQUIRED</p>
            <p>You don't have to call you only need to click a button and in a
                few minutes you will receive a message to let you know when help will arrive to change your flat tire.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">GET THE BEST FLAT TIRE CHANGE HELP NEAR YOU FAST</p>
            <p>We mainly operate in Chicago so you can be sure you will get help to change your flat tire in minutes.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">THE CHEAPEST ROADSIDE ASSISTANCE</p>
            <p>We only charge $79 to change flat tire. Other guys charge you over $100 to do the same job.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">Where are we available?</p>
            <p>reliable emergency roadside assistance for car lockout, jump starts, out of gas and tire changes. We operate in Chicago, Cicero and Berwyn. </p>
            </div>
        </div>

<div class="top_margin">
    <h4 style="color: purple;">What causes a flat tire?</h4>

    <p>Sooner or later, it's bound to happen to most everyone. You're driving along with your mind
        on the important meeting agenda, and suddenly your car pulls to one side and you hear that
        dreaded flapping sound of a flat tire.</p>
</div>

<div class="purple_shadow_two">
<h5>Puncture by Sharp Object</h5>
<p>The most common cause of a flat tire is by a puncture due to a sharp object, such as nails or glass. Avoid puncture blowouts by driving around debris in the road or in parking lots whenever possible.</p>
</div>


<div class="purple_shadow_two">
<h5>Failure or Damage to the Valve Stem</h5>
<p>Valve stem issues are another common cause of tire problems. The valve stem is the tiny protrusion from your tire that you unscrew when you need to inflate it. A damaged or corroded valve stem can cause air to leak out of the tire, making it go flat. Loose or dirt-clogged stems can also cause tires to lose air.</p>
</div>



<div class="purple_shadow_two">
<h5>Rubbed or Ripped Tire</h5>
<p>A worn or ripped tire can create a dangerous situation for you and for other drivers on the road. Be sure to always check your tires for damage, such as deeply scuffed or worn areas or uneven wear on one side of the tire.</p>
</div>


<div class="purple_shadow_two">
<h5> Tire Bead Leaks</h5>
<p>Sometimes, air will leak from the tire bead, which is the edge of the tire that rests on the rim. This leak can cause the tire to become flat over time. To check if there is a problem with the tire bead, spray your wheels and valve system with soapy water. If a steady stream of tiny bubbles emerges, you probably have a tire bead leak.</p>
</div>



    <div class="purple_shadow">
        <h6>More info</h6>
        <a href="https://www.bridgestonetire.com/tread-and-trend/drivers-ed/how-to-change-a-flat-tire">How to change a flat tire</a><br>
        <a href="https://www.dummies.com/home-garden/car-repair/how-to-safely-jack-up-your-vehicle/">How to safely jack up your car</a><br>
        <a href="https://auto.howstuffworks.com/under-the-hood/vehicle-maintenance/change-tire1.htm">Tools needed to change a tire</a>
    </div>

</div>
{% endblock %}