<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130113025-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130113025-1');
</script>

    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" >
    <title>emergency fuel, flat tire change, car jump start, car unlock | chicago roadside assistance</title>
    <meta name="description" content="Get the fastest roadside assistance in Chicago, Cicero and Berwyn. No call needed.
     Request emergency fuel, flat tire change, unlock car door, unfreeze car door and battery jump start.">
    <meta name="keywords" content="Roadside assistance near me, Emergency fuel delivery near me,Fuel delivery near me,
    Fuel delivery service,Fuel delivery at home,Fuel delivery chicago,Gasoline delivery near me,Flat tire service near
    me,Emergency flat tire change near me,Flat tire chicago,Flat tire cicero,Flat tire berwyn,I got a flat tire,I have
    a flat tire,Car won’t start,Jump start service,Need a jump start,Need a jump start near me,Jump start battery,
    Jump start car chicago,Jump start chicago,Jump start near me,Jump start service chicago,Open my car,Open my car
    near me,Open my locked car,Locksmith open my car,Need someone to open my car,Unlock my car,Unfreeze car door,">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}"/>

</head>
<body class="main">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="{% url 'help:home'%}">WWW.CHICAGOCARHELP.COM
    </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsingNavbarXs">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'help:flat_tire'%}">Flat tire change</a>
                                <a class="dropdown-item" href="{% url 'help:fuel_delivery'%}">Fuel delivery</a>
                                <a class="dropdown-item" href="{% url 'help:jump_start'%}">Car jump start</a>
                                <a class="dropdown-item" href="{% url 'help:unlock_car'%}">Unlock car door</a>
                                <a class="dropdown-item" href="{% url 'help:unfreeze'%}">Unfreeze car door</a>

                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'help:about' %}">About</a>
                </li>


            </ul>

        </div>







</nav>


{% block body_block %}

<div class="top_margin container" align="center">







{% for x in all %}
    {% if x.language == 'english' %}

        <div class="card text-white bg-dark mb-3 purple_shadow">
            <div class="card-body" style="">
                <p class="card-text">Get the fastest roadside assistance in Chicago, Cicero and Berwyn. No call needed.
                Request emergency fuel delivery, flat tire change, unlock car door, unfreeze car door and battery jump start.</p>
            </div>
        </div>

        {% if berenise %}
            <div align="center">
                <div class="business">
                    <h1  class="business_white">Sorry we are closed</h1>
                    <h3>{{ vacations }}</h3>
                </div>
            </div>
        {% endif %}


        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'help:add'%}" method="post">
                {% csrf_token %}
                {% if x.language == 'english' %}
                    <button type="submit" name="language" value="english" class="btn btn-success btn-sm">English</button>
                {% else %}
                    <button type="submit" name="language" value="english" class="btn btn-secondary btn-sm">English</button>
                {% endif %}
            </form>
            <form action="{% url 'help:add'%}" method="post">
                {% csrf_token %}
                {% if x.language == 'espanol' %}
                    <button type="submit" name="language" value="espanol" class="btn btn-success btn-sm">Español</button>
                {% else %}
                    <button type="submit" name="language" value="espanol" class="btn btn-secondary btn-sm">Español</button>
                {% endif %}
            </form>
        </div>

        <div class="row">
            {% if not x.keys %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo" alt="unlock car">

                        <div class="card-body">
                            <h5 class="card-title">Forgot your car keys inside of your car?</h5>
                            <p class="card-text">We have the right tools to open your car in minutes and safely.</p>
                            <p class="price card-text">price: $49</p>
                                <form action="{% url 'help:add'%}" method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name="keys" value="keys">
                                    <button type="submit" class="btn btn-outline-success">Add Service</button>
                                </form>
                            <a href="https://lifehacker.com/5848743/break-into-your-car-the-safe-and-easy-way"
                                 style="margin-top: 5px">How to unlock your car</a>
                        </div>
                    </div>
                </div>
            {% else %}

                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                                 src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo"
                                 alt="unlock car">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Forgot your car keys inside of your car?</h5>
                            <p class="card-text">We have the right tools to open your car in minutes and safely.</p>
                            <p class="price card-text">price: $49</p>
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if not x.freeze %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="unfreeze car lock">

                        <div class="card-body">
                            <h5 class="card-title">Frozen door?</h5>
                            <p class="card-text">We can unfreeze your car door in less than 3 minutes</p>
                            <p class="price card-text">price: $49</p>
                                <form action="{% url 'help:add'%}" method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name="frozen" value="frozen">
                                    <button type="submit" class="btn btn-outline-success">Add Service</button>
                                </form>
                              <a href="https://www.youtube.com/watch?v=n6ncTH6UO1U" style="margin-top: 5px">How to unfreeze your car</a>
                      </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="unfreeze car lock">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Frozen door?</h5>
                            <p class="card-text">We can unfreeze your car door in less than 3 minutes</p>
                            <p class="price card-text">price: $49</p>
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>
                      </div>
                    </div>
                </div>
            {% endif %}


            {% if not x.battery %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1tjeNkV-Fyy5Zm0-lbdIitDTiLB3muG4c"
                             alt="car jump start">

                        <div class="card-body">
                            <h5 class="card-title">Dead battery?</h5>
                            <p class="card-text">Car won't start? We can Jump start your battery.</p>
                            <p class="price card-text">price: $49</p>
                                <form action="{% url 'help:add'%}" method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name="battery" value="battery">
                                    <button type="submit" class="btn btn-outline-success">Add Service</button>
                                </form>
                              <a href="https://www.meineke.com/blog/jump-start-car-battery-right-way/"
                                 style="margin-top: 5px">How to Jump Start a Car Battery</a>
                      </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1tjeNkV-Fyy5Zm0-lbdIitDTiLB3muG4c"
                             alt="car jump start">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Dead battery?</h5>
                            <p class="card-text">We can Jump start your battery.</p>
                            <p class="price card-text">price: $49</p>
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if not x.gas %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="emergency fuel delivery">

                        <div class="card-body">
                            <h5 class="card-title">Need fuel?</h5>
                            <p class="card-text">We can deliver to you 2 gallons of fuel in an emergency</p>
                            <p class="price card-text">price: $59</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="fuel" value="fuel">
                                <button type="submit" class="btn btn-outline-success">Add Service</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}

                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="emergency fuel delivery">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Need fuel?</h5>
                            <p class="card-text">We can deliver to you 2 gallons of fuel in an emergency</p>
                            <p class="price card-text">price: $59</p>
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>

                        </div>
                    </div>
                </div>
            {% endif %}

            {% if not x.tire %}
                <div class="col-lg-6 col-12">
                    <div class="card_width_tire card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1Ei_BiAqGkn_OT-zt3p64Q_Nv6hJhwqBV" alt="flat tire change">

                        <div class="card-body">
                            <h5 class="card-title">Flat tire?</h5>
                            <p class="card-text">Let us get you a quick tire change service and install your spare tire for
                                you in minutes. Or request a spare tire if you don't have one.</p>

                            <p class="price card-text">price: $<span id="total">70</span></p>
                                <form action="{% url 'help:add'%}" method="post">
                                    {% csrf_token %}
                                      <label for="sell">Click to add spare tire
                                          <select id="sell" name="quantity">
                                            <option value="0" selected>here</option>
                                            <option value="1">1 spare tire</option>
                                      </select></label>
                                    <input type='hidden' name="tires" value="tires">
                                    <button type="submit" id="tires" class="btn btn-outline-success">Add Service</button>
                                </form>
                            <a href="https://www.bridgestonetire.com/tread-and-trend/drivers-ed/how-to-change-a-flat-tire"
                                 style="margin-top: 5px">How to change a flat tire</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1Ei_BiAqGkn_OT-zt3p64Q_Nv6hJhwqBV" alt="flat tire change">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Flat tire?</h5>
                            <p class="card-text">Let us get you a quick tire change service and install your spare tire
                                for you.</p>
                            {% if x.quantity == 1 %}
                                <p class="price">You added {{ x.quantity }} spare tier</p>
                                <p class="price">$99</p>
                            {% else %}
                                <p class="price">price: $70</p>
                            {% endif %}
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


        <div class="top_margin">
            <div align="center">
                <h3 style="color: #cc1111">Please turn on your location to automatically get your address</h3>
            </div>
            <div id="map" class="bottom_margin top_margin"></div>

            <button class="btn btn-primary" id="incorrect_button">Is your address incorrect?</button>
            <div style="visibility: hidden; display: none" id="incorrect_div">
                <p>Reload and turn Location On <span>
                    <img src="http://drive.google.com/uc?export=view&id=1g1fHSex0x2pi3VJY3I6dz2iET-53qpji"
                         alt="location" style="width: 25px; height: 25px"></span></p>
                <div style="margin-top: -15px; margin-bottom: 10px">
                    <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm">Reload</button></a>
                </div>
                <label>Or enter address manually<input type="text"
                                                       id="manul_address"
                                                       placeholder="Enter address"
                                                       style="padding: 3px;
                                                       border: 1px solid rebeccapurple;
                                                       border-radius: 5px"></label>
            </div>
        </div>



    <div class="col-lg-12">
        <p align="center">When you are ready adding your services press the button below</p>
        {% for bere in all %}
        <h3 style="color: mediumseagreen">Your Total: ${{ bere.total }}</h3>
            <h5 style="color: #0005cc">We accept credit/debit card, cash or Venmo</h5>
            <h5 style="color: #0005cc">You will be charged when your service has been completed</h5>
            <form action="{% url 'help:thankyou'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="manual_address" value="" id="add_manual_address">
                <input type="hidden" name="grand_total" value="{{ bere.total }}">
                <input type='hidden' name="long" value="fuel" id="lat">
                <p class="small" id="phone_output"></p>
                <label for="phone">
                    <img class="card-img-top"
                         src="http://drive.google.com/uc?export=view&id=1-KalT8-Eolxhbs19mUmjqQL9wF4eLpO5"
                         alt="tire" style="width: 20px; height: 20px; margin-top: -10px">
                    <input type="text" required name="phone" placeholder="enter phone number" id="phone"
                           style="padding: 3px; border: 1px solid rebeccapurple; border-radius: 5px"></label>
                <button type="submit" class="bottom_margin btn btn-primary btn-lg btn-block"
                        id="request">Request Services</button>

            </form>
        {% endfor %}

        <h1 id="lat"></h1>
        <h1 id="long"></h1>
    </div>


</div>
    {% else %}
        {% include 'helper/espanol.html'%}
    {% endif %}
{% endfor %}

    <div align="center" class="top_margin">
        <div class="purple_shadow">
            <h6>Services</h6>
            <p>Car Lockout</p>
            <p>Gas Delivery</p>
            <p>Jump Start</p>
            <p>Tire Change</p>
            <p>Unfreeze Frozen door</p>

        </div>
    </div>



{% endblock %}

    <script>
        let map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 16
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            let pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            let x = document.getElementById('lat').value = pos.lat+' '+ pos.lng;

            infoWindow.setPosition(pos);
            infoWindow.setContent('YOU ARE HERE');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGqdzG8r0hkRipQnCoLYVh1Kg9lmk5TzE&callback=initMap"
    async defer></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

<script>
    function incorrect_address() {
        let incorrect_div = document.getElementById('incorrect_div');
        incorrect_div.style.visibility = 'visible';
        incorrect_div.style.display = 'block';

    }
    document.getElementById('incorrect_button').addEventListener("click", incorrect_address, false)
</script>


<script>
$(document).ready(function(){
    $('#sell').change(function() {
        var value = $('#sell :selected').val();
        $('#total').text(70+(29*value));
  });
});
</script>


<script>

    function get_address() {
        let get_address = document.getElementById('manul_address').value;
        let input_address = document.getElementById('add_manual_address');
        input_address.value = get_address;
    }
    document.getElementById('request').addEventListener("click", get_address, false)
</script>


<script>
    function phone_check() {
        let t = document.getElementById('phone').value;
        let here = document.getElementById('phone_output');
        if(t.length===10){
            $("#phone_output").removeClass("red");
            $("#phone_output").addClass("green");
            here.textContent = 'OK';

        }else {
            $("#phone_output").removeClass("green");
            $("#phone_output").addClass("red");
            here.classList.add('red');
            here.textContent = 'NO'
        }
    }

    document.getElementById('phone').addEventListener('keyup', phone_check);

</script>

</body>

</html>