<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130113025-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130113025-1');
</script>

    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" >
    <title>Jump start car service $39-Cheap & Free ETA-Roadside assistance</title>
    <meta name="description" content="Get the fastest roadside assistance in Chicago & Suburbs. No call needed.
     Free estimate for car jump start service">

    <meta name="keywords" content="Jump start car service $39-Cheap & Free ETA-Roadside assistance">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}"/>
</head>
<body class="main">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="http://drive.google.com/uc?export=view&id=1iAEt3g90vB9rxZZ8SP4Sz-XZdL7dQaKi" alt="Free jump start service" style="margin-right: 5px; width: 50px; height: auto">


    <a class="small_font navbar-brand" href="{% url 'help:home'%}">CHICAGOCARHELP
    </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsingNavbarXs">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'help:fuel_delivery'%}">Fuel delivery</a>
                                <a class="dropdown-item" href="{% url 'help:jump_start'%}">Jump start car</a>
                                <a class="dropdown-item" href="{% url 'help:unlock_car'%}">Car lockout service</a>
                                <a class="dropdown-item" href="{% url 'help:unfreeze'%}">Unfreeze car door</a>

                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'help:about' %}">About</a>
                </li>


            </ul>

        </div>



</nav>


{% block body_block %}

<div class="top_margin container" align="center">




{% for x in all %}
    {% if x.language == 'english' %}

        <div class="card text-white bg-dark mb-3 purple_shadow">
            <div class="card-body" style="">
                <h5 class="card-text">No call needed. Request car jump start, fuel delivery & car unlock service. The fastest roadside assistance in Chicago & Suburbs. </h5>
            </div>
        <p style="color: coral;">You only pay if the service was completed</p>
        <p style="color: green">Enter your location and phone number to get a FREE estimate of time of arrival</p>
                    <input type="text" id="manul_address" placeholder="Enter your location" style="padding: 3px;
                                                       border: 1px solid #571746;
                                                       border-radius: 5px">


                    {% for bere in all %}
{#            {% if bere.total %}#}
{#        <h3 style="color: #171717"><span style="color: green">Your Total:</span> You will be charged ${{ bere.total }} only if the requested service was completed</h3>#}
{#                <h4 style="color: coral">You can cancel at anytime at no cost</h4>#}
{#            {% endif %}#}
            <h5 style="color: #ffffff">We accept credit/debit card, cash or Venmo</h5>
            <form action="{% url 'help:thankyou'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="manual_address" value="" id="add_manual_address">
                <input type="hidden" name="grand_total" value="{{ bere.total }}">
                <input type='hidden' name="long" value="fuel" id="lat">
                <p class="small" id="phone_output"></p>
                <label for="phone">
                    <img class="card-img-top"
                         src="http://drive.google.com/uc?export=view&id=1-KalT8-Eolxhbs19mUmjqQL9wF4eLpO5"
                         alt="tire" style="width: 20px; height: 20px; margin-top: -10px">
                    <input type="text" required name="phone" placeholder="Enter phone number" id="phone"
                           style="padding: 3px; border: 1px solid #571746; border-radius: 5px"></label>
                <button type="submit" class="silva bottom_margin btn btn-danger btn-lg btn-block"
                        id="request">CLICK HERE FOR JUMP START</button>

            </form>
        {% endfor %}


{#        <p style="background-color: rgba(255,6,0,0.57)">Just enter your <span style="color: #29abe2">number</span> and click the <span style="color: yellow">yellow</span> GET HELP NOW button at the bottom of the page</p>#}
        </div>

        {% if berenise %}
            <div align="center">
                <div class="business">
                    <h1  class="business_white">Sorry we are closed</h1>
                    <h3>{{ vacations }}</h3>
                </div>
            </div>
        {% endif %}

        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'help:add'%}" method="post">
                {% csrf_token %}
                {% if x.language == 'english' %}
                    <button type="submit" name="language" value="english" class="btn btn-success btn-sm">English</button>
                {% else %}
                    <button type="submit" name="language" value="english" class="btn btn-secondary btn-sm">English</button>
                {% endif %}
            </form>
            <form action="{% url 'help:add'%}" method="post">
                {% csrf_token %}
                {% if x.language == 'espanol' %}
                    <button type="submit" name="language" value="espanol" class="btn btn-success btn-sm">Español</button>
                {% else %}
                    <button type="submit" name="language" value="espanol" class="btn btn-secondary btn-sm">Español</button>
                {% endif %}
            </form>
        </div>

            <img src="http://drive.google.com/uc?export=view&id=1hIonAC1d3q00UOVDNqVN4P6odWiNPTKe" alt="roadside assistance" style="width: 150px; display: block; margin-top: 10px">
        <div align="center" style="border: 2px solid white; margin-top: 5px; padding: 5px; width: 335px; background-color: #29abe2; border-radius: 7px">
            <h5 style="color: white">FAST</h5>
        <h5 style="color: white">Will get to you in 15-20 minutes or less</h5>
        </div>









        <div align="center">

            <div style="border: 1px solid black; width: 335px; height: 240px; background-color: #bce2b7; border-radius: 7px">
                <p style="border: black 1px solid; background-color: black; color: white; width: 300px; border-radius: 7px; margin-top: 5px">Our price</p>
                <img src="http://drive.google.com/uc?export=view&id=1Y8I1RBbBhVxb73B-W8WK34zkxf35L6bR" alt="free jump start" style="width: 180px;">
                <img src="http://drive.google.com/uc?export=view&id=15w31gDXfGhGm43hLW81jlFU98OdrXe6Q" alt="free jump start chicago" style="width: 240px">
            </div>

            <button id="dis-compe" class="btn btn-danger" style="margin-top: 8px">Check competition prices</button>
            <div style="visibility: hidden; display: none" id="show-compe">
            <div style="border: black solid 1px; width: 335px; height: 350px; background-color: #cda4a4; border-radius: 7px; margin-top: 5px">
                <p style="border: black 1px solid; background-color: black; color: white; width: 300px; border-radius: 7px; margin-top: 5px">Our Competition prices</p>
                <img src="http://drive.google.com/uc?export=view&id=1kC1bA2iYq6is55bqTM3G73xWypul4W3c" alt="jump start service" style="width: 180px; margin-top: 10px">
                <img src="http://drive.google.com/uc?export=view&id=1crhAYcRsWQDuF-DGK0NgzwqCfB2LBuKw" alt="free jump start" style="width: 150px">
                <a style="display: block" href="https://www.geturgently.com">Don't believe us? Check price</a>

                <img src="http://drive.google.com/uc?export=view&id=1qH1YwuPrgjus6iTKbnZbZoaSxljggwbw" alt="free jump start" style="width: 180px; margin-top: 20px">
                <img src="http://drive.google.com/uc?export=view&id=1crhAYcRsWQDuF-DGK0NgzwqCfB2LBuKw" alt="car jump start service" style="width: 150px">
                <a style="display: block" href="https://mw.honkforhelp.com">Don't believe us? Check price</a>
            </div>
            </div>

        </div>

        <div class="row" align="center" style="margin-top: 10px">
            <div class="col-6">
                <img src="http://drive.google.com/uc?export=view&id=1e2_esc5ySNURiMJGnlXpOoTDhHzYnhZA" alt="roadside assistance" style="width: 100px">

            </div>
            <div class="col-6">
                <img src="http://drive.google.com/uc?export=view&id=1JEsbn89Uvka7gKRp1zsGzTS0AQRZ6rUs" alt="free car jump start" style="width: 150px">
                <p>Five star rating</p>
            </div>
        </div>


        <div class="row">


                    {% if not x.battery %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1tjeNkV-Fyy5Zm0-lbdIitDTiLB3muG4c"
                             alt="free car jump start service" title="car jump start service">

                        <div class="card-body">
                            <h5 class="card-title">Need a jump start?</h5>
                            <h5 class="card-text">Car not starting? We can Jump start your dead car battery.</h5>
                            <p class="price card-text">price: $39</p>
                                <form action="{% url 'help:add'%}" method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name="battery" value="battery">
                                    <button type="submit" class="btn btn-success">Click to Add Service</button>
                                </form>

                      </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1tjeNkV-Fyy5Zm0-lbdIitDTiLB3muG4c"
                             alt="free car jump start">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Need a jump start?</h5>
                            <p class="card-text">We can Jump start your battery.</p>
                            <p class="price card-text">price: $39</p>
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>
                        </div>
                    </div>
                </div>

            {% endif %}






            {% if not x.keys %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo" alt="unlock car">

                        <div class="card-body">
                            <h5 class="card-title">Forgot your car keys inside of your car?</h5>
                            <p class="card-text">We have the right tools to unlock your car in minutes and safely.</p>
                            <p class="price card-text">price: $39</p>
                                <form action="{% url 'help:add'%}" method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name="keys" value="keys">
                                    <button type="submit" class="btn btn-success">Click to Add Service</button>
                                </form>

                        </div>
                    </div>
                </div>
            {% else %}

                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                                 src="http://drive.google.com/uc?export=view&id=1hvnEzsaDx3r6ajQsnU3HpNLKFxxi9ejo"
                                 alt="unlock car">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Forgot your car keys inside of your car?</h5>
                            <p class="card-text">We have the right tools to unlock your car in minutes and safely.</p>
                            <p class="price card-text">price: $39</p>
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if not x.freeze %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="unfreeze car lock">

                        <div class="card-body">
                            <h5 class="card-title">Frozen door?</h5>
                            <p class="card-text">We can unfreeze your car door in less than 3 minutes</p>
                            <p class="price card-text">price: $39</p>
                                <form action="{% url 'help:add'%}" method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name="frozen" value="frozen">
                                    <button type="submit" class="btn btn-success">Click to Add Service</button>
                                </form>
                      </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="unfreeze car lock">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Frozen door?</h5>
                            <p class="card-text">We can unfreeze your car door in less than 3 minutes</p>
                            <p class="price card-text">price: $39</p>
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>
                      </div>
                    </div>
                </div>
            {% endif %}




            {% if not x.gas %}
                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="emergency fuel delivery">

                        <div class="card-body">
                            <h5 class="card-title">Need fuel?</h5>
                            <p class="card-text">We can deliver to you 2 gallons of fuel in an emergency</p>
                            <p class="price card-text">price: $39</p>
                            <form action="{% url 'help:add'%}" method="post">
                                {% csrf_token %}
                                <input type='hidden' name="fuel" value="fuel">
                                <button type="submit" class="btn btn-success">Click to Add Service</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}

                <div class="col-lg-6 col-12">
                    <div class="card_width card purple_shadow">
                        <div class="card-img-caption">
                            <div class="card-text">
                                <h1 class="added">Added</h1>
                            </div>
                            <img class="card-img-top"
                             src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="emergency fuel delivery">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Need fuel?</h5>
                            <p class="card-text">We can deliver to you 2 gallons of fuel in an emergency</p>
                            <p class="price card-text">price: $39</p>
                            <a href="{% url 'help:undo'%}"><button class="btn btn-danger">Remove All</button></a>

                        </div>
                    </div>
                </div>
            {% endif %}


        </div>


{#            <div align="center">#}
{#                <h3 style="color: #cc1111">Please turn on your location to automatically get your address</h3>#}
{#            </div>#}
{#            <div id="map" class="bottom_margin top_margin"></div>#}





    <div class="col-lg-12">


        <h1 id="lat"></h1>
        <h1 id="long"></h1>
    </div>


                            <img src="http://drive.google.com/uc?export=view&id=1wI8e53sFRKVoSfu_RT0fZsIxU7mTGtos" alt="roadside assistance" style="width: 340px; display: block; margin-top: 10px; margin-bottom: 5px">


</div>
    {% else %}
        {% include 'helper/espanol.html'%}
    {% endif %}
{% endfor %}

    <div align="center" class="top_margin">
        <div class="purple_shadow">
            <h1>Services</h1>
            <h1><span style="font-size: 22px">Unlock Car</span></h1>
            <h1><span style="font-size: 22px">Fuel Delivery</span></h1>
            <h1><span style="font-size: 22px">Jump Start Car Service</span></h1>
            <h1><span style="font-size: 22px">Unfreeze Frozen door</span></h1>

        </div>
    </div>



{% endblock %}



{#    <script>#}
{#        let map, infoWindow;#}
{#        function initMap() {#}
{#            map = new google.maps.Map(document.getElementById('map'), {#}
{#            center: {lat: -34.397, lng: 150.644},#}
{#            zoom: 16#}
{#        });#}
{#        infoWindow = new google.maps.InfoWindow;#}
{##}
{#        // Try HTML5 geolocation.#}
{#        if (navigator.geolocation) {#}
{#          navigator.geolocation.getCurrentPosition(function(position) {#}
{#            let pos = {#}
{#              lat: position.coords.latitude,#}
{#              lng: position.coords.longitude#}
{#            };#}
{#            let x = document.getElementById('lat').value = pos.lat+' '+ pos.lng;#}
{##}
{#            infoWindow.setPosition(pos);#}
{#            infoWindow.setContent('YOU ARE HERE');#}
{#            infoWindow.open(map);#}
{#            map.setCenter(pos);#}
{#          }, function() {#}
{#            handleLocationError(true, infoWindow, map.getCenter());#}
{#          });#}
{#        } else {#}
{#          // Browser doesn't support Geolocation#}
{#          handleLocationError(false, infoWindow, map.getCenter());#}
{#        }#}
{#      }#}
{##}
{#      function handleLocationError(browserHasGeolocation, infoWindow, pos) {#}
{#        infoWindow.setPosition(pos);#}
{#        infoWindow.setContent(browserHasGeolocation ?#}
{#                              'Error: The Geolocation service failed.' :#}
{#                              'Error: Your browser doesn\'t support geolocation.');#}
{#        infoWindow.open(map);#}
{#      }#}
{#    </script>#}
{##}
{# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGqdzG8r0hkRipQnCoLYVh1Kg9lmk5TzE&callback=initMap"#}
{#    async defer></script>#}




    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


<script>
    function xc() {
        let whole_text = document.getElementById('show-compe').style;
        whole_text.visibility = 'visible';
        whole_text.display = 'block'

    }
    document.getElementById('dis-compe').addEventListener("click", xc, false)

</script>

<script>
$(document).ready(function(){
    $('#sell').change(function() {
        var value = $('#sell :selected').val();
        $('#total').text(70+(29*value));
  });
});
</script>


<script>

    function get_address() {
        let get_address = document.getElementById('manul_address').value;
        let input_address = document.getElementById('add_manual_address');
        input_address.value = get_address;
    }
    document.getElementById('request').addEventListener("click", get_address, false)
</script>


<script>
    function phone_check() {
        let t = document.getElementById('phone').value;
        let here = document.getElementById('phone_output');
        if(t.length===10 || t.length===11){
            $("#phone_output").removeClass("red");
            $("#phone_output").addClass("green");
            here.textContent = 'OK';

        }else {
            $("#phone_output").removeClass("green");
            $("#phone_output").addClass("red");
            here.classList.add('red');
            here.textContent = 'NO'
        }
    }

    document.getElementById('phone').addEventListener('keyup', phone_check);

</script>

</body>

</html>