<!DOCTYPE html>
{% extends 'helper/home.html' %}

{% block body_block %}
    <div class="bottom_margin container" align="center">

                            <div style="position: relative; text-align: center; color: white">
                            <div style="margin-top: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <p class="pic_background make_big">FUEL DELIVERY SERVICE</p>
                                <p class="pic_background make_big">Ran out of gas?We can get you the help you need in minutes.</p>

                            </div>
                                <img style="width: 100%"
                             src="http://drive.google.com/uc?export=view&id=1Nycz1Z6dBJqZP8kC9CR_xCsv_g6yi0b9" alt="emergency fuel delivery">
                        </div>

    <p class="make_big"> Just click the blue button and within
        minutes you will receive a text from us to let you know when
        we will arrive with your gasoline delivery. You don't have to call or enter your address manually.</p>
        <div align="center">
            <a href="{% url 'help:home'%}"><button class="btn btn-primary">GET HELP NOW</button></a>
        </div>



        <div style="margin-bottom: 10px;margin-top: 50px; border: 1px solid black; padding: 5px">
            <div class="top_margin2">
            <p class="put_left" style="color: purple">NO CALL REQUIRED</p>
            <p>You don't have to call you only need to click a button and in a
                few minutes you will receive a message to let you know when help will arrive with your fuel delivery.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">GET THE BEST FUEL DELIVERY HELP NEAR YOU FAST</p>
            <p>We mainly operate in Chicago so you can be sure you will get fuel delivery in minutes.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">THE CHEAPEST ROADSIDE ASSISTANCE</p>
            <p>We only charge $59 for fuel delivery. Other guys charge you over $70 to do the same job.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: purple">Where are we available?</p>
            <p>reliable emergency roadside assistance for car lockout, jump starts, out of gas and tire changes. We operate in Chicago, Cicero and Berwyn. </p>
            </div>
        </div>

<div class="top_margin">
    <h4 style="color: purple">What to do if you run out of gas?</h4>

    <p>Despite the best-laid plans, at some point you may find yourself in the unfortunate situation of being
        stranded by the side of the road with an empty gas tank.</p>
</div>

<div class="purple_shadow_two">
<h5>Turn on your hazard lights and pull over</h5>
<p>As soon as you realize you’re running out of gas, turn on your hazard lights and get over to the side of
    the road as safely as possible. Put your car in park and leave the hazard lights on.</p>
</div>


<div class="purple_shadow_two">
<h5>Do you have roadside assistance?</h5>
<p>Some new cars come with roadside assistance programs as well, so know what you’re paying for and whether
    or not they can help you if you run out of gas. In some cases, their program may only tow your car to the nearest dealership, so you need to know exactly what you’re getting.</p>
</div>



<div class="purple_shadow_two">
<h5>Call a friend</h5>
<p>What kind of action you take usually depends on where you are when you run out of gas. If you’re on your
    way home from work or school and have friends or family nearby, you can call them and ask them to help you. They can take you to a gas station, where you can buy and fill a five-gallon container of gas—which should be plenty to get you back on the road.</p>
</div>


<div class="purple_shadow_two">
<h5>Find the nearest gas station</h5>
<p>Another option is to use an app on your phone to find a gas station that’s near you. Walking may be an option
    if the station is nearby, but don’t take risks such as crossing a busy highway or freeway, or walking in dark or unsafe areas. It’s better to take your time and wait for help to arrive.</p>
</div>



    <div class="purple_shadow">
        <h6>More info</h6>
        <a href="https://exchange.aaa.com/safety/driving-advice/conserving-fuel/#.XARuhmhKhPY">How to conserve fuel</a><br>
        <a href="https://community.cartalk.com/t/restarting-car-that-has-run-out-of-gas/39159">Restarting car that has run out of gas</a><br>
        <a href="http://www.safebee.com/travel/what-do-if-you-run-out-gas">What to Do If You Run Out of Gas</a>
    </div>

</div>
{% endblock %}