<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130113025-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130113025-1');
</script>

    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" >
    <title>Pasar Cables Corriente A Carro Chicago,IL $39 708-548-9664</title>
    <meta name="description" content="Te Pasamos Cables A Tu Carro En Chicago Por $39. Chicagocarhelp Estimado Gratis.">
    <meta name="keywords" content="Pasar Cables, Pasar Corriente, Pasar Cables Chicago, Pasar Corriente Chicago">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}"/>
</head>
<body class="main">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/chicagocarhelp_logo_jump_start_service.png" alt="Free jump start service" style="margin-right: 5px; width: 60px; height: auto">

    <a class="small_font navbar-brand" href="{% url 'help:home'%}">CHICAGOCARHELP
    </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsingNavbarXs">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'help:home'%}">Ingles</a>


                    </div>
                </li>




            </ul>

        </div>



</nav>

<div style="margin-left: 40px; margin-right: 40px">

 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jump-start-service-illinois.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
    <h1 style="color: white;">Servicio de pasar cables CHICAGO IL</h1>
    <h2>Servicio de arranque rápido de batería de $ 39</h2>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://jumpservicechicago.s3.us-east-2.amazonaws.com/jump-start-service-chicago.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
    <h1 style="color: white">SERVICIO DE CABLES DE BATERÍA DE COCHE CHICAGO IL</h1>
    <p>Llama Ahora</p>
  </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



</div>



<div align="center" style="margin: 10px">
            <div class="alert alert-success" role="alert">
        <h1 class="main">$39 Por Pasar Cables/Corriente A Carro Chicago,IL</h1>
        </div>

    <h3 style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">Razones por las cuales la gente en Chicago nos solicita un servicio de pasar cables</h3>

    <div class="container">
          <div class="row">
            <div class="col">
                <div class="alert alert-success" role="alert">
                    <h6><span style="border: 1px solid white; border-radius: 10%; padding: 4px; background-color: yellow">1</span>   El auto no arranca</h6>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-success" role="alert">
                    <h6><span style="border: 1px solid white; border-radius: 10%; padding: 4px; background-color: yellow">2</span>   Batería del coche sin carga</h6>

                </div>
            </div>
          </div>

        <div class="container">
          <div class="row">
            <div class="col">

                <div class="alert alert-success" role="alert">
                    <h6><span style="border: 1px solid white; border-radius: 10%; padding: 4px; background-color: yellow">3</span>  Batería de automóvil débil</h6>

                </div>
            </div>
            <div class="col">

                <div class="alert alert-success" role="alert">
                     <h6><span style="border: 1px solid white; border-radius: 10%; padding: 4px; background-color: yellow">4</span>   Servicio rápido en 8-20 minutos.</h6>

                </div>
            </div>
          </div>

        </div>
    </div>

</div>



<div class="jumbotron jumbotron-fluid">
      <div class="container">
          <div align="center" style="margin-top: -30px; margin-bottom: 20px">
            <h3>Solicitar Servicio De Carretera</h3>
          </div>

        <form action="{% url 'help:thankyou'%}" method="post">
                        {% csrf_token %}
              <div class="form-row">
                <div class="col-7">
                            <input type="text" name="manual_address" class="form-control" value="" id="add_manual_address" placeholder="Ingresa tu ubicación" >
                <small id="emailHelp" class="form-text text-muted">Nombre de la calle o dirección completa</small>
                </div>
                <div class="col">
                            <input type="text" required name="phone" placeholder="Ingrese su número telefónico" id="phone" class="form-control">
                <small id="emailHelp2" class="form-text text-muted">Número de teléfono para contactarlo</small>
                </div>

              </div>

            <button type="submit" class="btn btn-primary"
                                id="request" style="margin: 5px">OBTENGA COTIZACIÓN GRATUITA</button>
        </form>



        <div class="container">
          <div class="row">
            <div class="col">
                <label for="mesms">
                                        <img
                                 src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jsc_sms-sAsset+1.png"
                                 alt="tire" style="width: 39px; height: auto; margin-top: 10px">
                    <br>
                <a id="mesms" href="sms:+17085489664">Haga clic para enviar un mensaje de texto</a>
                    </label>
            </div>
            <div class="col">
                <label for="mephone">
                                                    <img
                                 src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jsc_phooneAsset+1.png"
                                 alt="tire" style="width: 39px; height: auto; margin-top: 10px">
                    <br>
                <a id="mephone" href="tel:+17085489664">Haz clic para llamar</a>
                    </label>
            </div>
          </div>



        </div>
    </div>
</div>



<div class="top_margin container" align="center">

    <div>
        <hr style="color: yellow; background-color: yellow">
        <h4>Precios</h4>
        <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">Solo le cobramos si el servicio de inicio rápido fue exitoso. Sin cargo si el inicio de salto no funciona. Somos el servicio de salto de auto más barato en Chicago y el más rápido.</p>

    <table id="table_height" class="table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><img class="table_img" src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/chicagocarhelp_logo_jump_start_service.png" alt="Free jump start service"></th>
          <th scope="col"><img class="table_img" src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/logos2Asset+3.png" alt="Free jump start service"></th>
          <th scope="col"><img class="table_img" src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/logos3Asset+2.png" alt="Free jump start service"></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="table_pad">Precio</th>
          <td class="table_pad">$39</td>
          <td class="table_pad">$100+</td>
          <td class="table_pad">$75</td>
        </tr>
        <tr>
          <th scope="row" class="table_pad">Tarjeta de Credito</th>
          <td class="table_pad">SI</td>
          <td class="table_pad">No</td>
          <td class="table_pad">SI</td>

        </tr>
        <tr>
          <th scope="row" class="table_pad">Venmo</th>
          <td class="table_pad">SI</td>
          <td class="table_pad">No</td>
          <td class="table_pad">No</td>

        </tr>

          <tr>
          <th scope="row" class="table_pad">Sobre Cargos</th>
          <td class="table_pad">No</td>
          <td class="table_pad">SI</td>
          <td class="table_pad">No</td>

        </tr>

          <tr>
          <th scope="row" class="table_pad">Efectivo</th>
          <td class="table_pad">SI</td>
          <td class="table_pad">SI</td>
          <td class="table_pad">No</td>

        </tr>

          <tr>
          <th scope="row" class="table_pad">Precio Si Carro No Prende</th>
          <td class="table_pad">$0</td>
          <td class="table_pad">$100+</td>
          <td class="table_pad">$75</td>

        </tr>
      </tbody>
    </table>

    </div>

    <div>
        <hr style="color: yellow; background-color: yellow">
        <h4>Pagos</h4>
        <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">Aceptamos todas las principales tarjetas de crédito, efectivo o Venmo</p>
         <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jsc_pay.png" alt="roadside assistance" style="width: 300px; display: block; margin-top: 10px">

    </div>

    <div>
        <hr style="color: yellow; background-color: yellow">

        <h4>Explore nuestro trabajo</h4>

            <iframe class="youtube_video" src="https://www.youtube.com/embed/XCrkYPijG74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
\            <iframe class="youtube_video" src="https://www.youtube.com/embed/x7kH376VRGM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <div>
            <hr style="color: yellow; background-color: yellow">

            <h4>Cómo saber si necesita un servicio de arranque rápido de batería</h4>
            <div align="center" style="color: white; margin: 8px; background-color: #a80400">
                <p>¿El coche no arranca o la batería está agotada? Necesitas un arranque de batería</p>
            </div>
            <div style="color: white; margin: 8px; background-color: black; padding: 10px" align="left">

                <p>1) El motor arranca (hace un chasquido), pero no arranca.</p>
                <p>2) Su motor no arranca (no hace clic) ni arranca, y las luces no se encienden.</p>
                <p>3) Un día comienza bien, luego al día siguiente no comenzará en absoluto.</p>
                <p>4) Dejaste las luces encendidas durante la noche.</p>
                <p>5) Han pasado 2 o más semanas desde la última vez que condujo su automóvil.</p>
                <p>6) El calor excesivo o el clima frío pueden debilitar la batería. Las temperaturas calientes pueden ser peores para tu coche que el clima frío.</p>
            </div>
        </div>



{#        <img src="/media/media/Asset_17.png" alt="roadside assistance" class="makebig">#}



    <div>

        <hr style="color: yellow; background-color: yellow">


    <div align="center">
                <hr style="color: yellow; background-color: yellow">
        <h4>TESTIMONIOS</h4>




        <div class="card-deck">
          <div class="card">
            <div class="card-body">
                <a href="https://goo.gl/maps/CVzB5Da1C8aEMZmX8">
              <h6 class="card-title">Servicio De Cables Chicago,IL 60607</h6>
                </a>
              <p class="card-text">&ldquo;Gran servicio de arranque rápido, si no el mejor en Chicago, IL. Es muy barato y no esperé el inicio rápido como la otra vez que contacté a otra compañía.&bdquo;</p>
            </div>

          </div>
          <div class="card">
            <div class="card-body">
                <a href="https://goo.gl/maps/hchdttDMUEBHFSuq7">
               <h6 class="card-title">Servicio De Pasar Cables Chicago,IL 60610</h6>
                    </a>
              <p class="card-text">&ldquo;Mi amigo necesitaba un servicio de arranque rápido y decidí ir a Yelp y buscar diferentes lugares para ver cuánto cobran. Miré la mayor parte del negocio y descubrí que Chicagogohelhel cobra lo menos a $ 39 por un servicio de arranque rápido. El otro negocio cobró $ 80 o más por lo mismo. Su tiempo de llegada fue inferior a 20 minutos y, en general, fue un gran servicio.&bdquo;</p>
            </div>

          </div>
          <div class="card">
            <div class="card-body">
                <a href="https://goo.gl/maps/Eu5PfCXMNfPQQ38j6">
              <h6 class="card-title">Servicio De Coche Chicago,IL 60642</h6>
                    </a>
              <p class="card-text">&ldquo;Después de buscar las compañías más baratas para un servicio de inicio rápido en Chicago, encontré este. Solo me cobraron $ 39 por el arranque de la batería. Gran servicio.&bdquo;</p>
            </div>

          </div>

        </div>


    </div>




    <div align="center" class="container">
            <hr style="color: yellow; background-color: yellow">

        <h4>Sobre nosotros</h4>
            <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">Lanzamos <strong>Jump Start Service Chicago - Chicagocarhelp</strong> en 2018 porque es hora de un servicio de inicio rápido asequible en Chicago, IL. No debería costarle más de $ 39 dólares por un simple servicio de inicio rápido. Solo te cobramos para el servicio de arranque rápido del automóvil si se completó con éxito. Llegaremos a usted en 20 minutos o menos. Se aceptan las principales tarjetas de crédito, efectivo o Venmo.</p>

                 <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/chicagocarhelp_logo_jump_start_service.png" alt="roadside assistance" style="width: 200px; display: block; margin-top: 10px">




    </div>


    <div align="center">
        <hr style="color: yellow; background-color: yellow">
        <h4>Ubicaciones en Chicago IL</h4>


        <div class="col-lg-12 col-12">

            <div class="row">
                <div class="col-sm">
                    <p>60606, 60607, 60608, 60610, 60611, 60612, 60613, 60614, 60616, 60618, 60622, 60623, 60624, 60302, 60402</p>

                </div>

                <div class="col-sm">
                    <p>60625, 60630, 60638, 60639, 60640, 60641, 60642, 60644, 60647, 60651, 60654, 60657, 60661, 60304, 60804</p>
                </div>

                <div class="col-sm">
                    <p><a href="https://goo.gl/maps/Vtxbudw8kgY3RA2T7">Albany Park</a>, <a href="https://goo.gl/maps/xpyAzsKVsaVxWRab6">Ravenswood</a>,
                        <a href="https://goo.gl/maps/X2Dk8MRrn7VbdTAB6">Uptown</a>, <a href="https://goo.gl/maps/3Ske3qhS6XwPS8vT6">Edgewater</a>,
                        <a href="https://goo.gl/maps/5JdxbeMvqZgLeaaS6">Irvinpark</a>, <a href="https://goo.gl/maps/DoBrYHv6WCG1Mzwo6">Roscoe Village</a>,
                        <a href="https://goo.gl/maps/WCXSuHZ33QMYEDAa9">Boystown</a>, <a href="https://goo.gl/maps/JZ3qbkx9ZH6nMY5y9">Lake View</a>,
                        <a href="https://goo.gl/maps/bXdF3riKpMvJ3qER6">Lincoln Park</a>, <a href="https://goo.gl/maps/A7nJrw4AuZ4M4EA17">Bucktown</a>,
                        <a href="https://goo.gl/maps/QkTurGm8oYVdrSnw8">Logan Square</a>, <a href="https://goo.gl/maps/DthJrcoLmoV7pmV7A">Wicker Park</a>,
                        <a href="https://goo.gl/maps/HERFg1aGmrQ3vYvaA">Hermosa</a>, <a href="https://goo.gl/maps/Wy5vjWV1jDToPiNv6">Humbold Park</a>,
                        <a href="https://goo.gl/maps/MNjBg1ekR9yh8rH5A">Ukrainian Village</a>, <a href="https://goo.gl/maps/wYAipt91MFqMcDEH7">Near North side</a>,
                        <a href="https://goo.gl/maps/36yPPpNETQESxXaW7">River North</a>, <a href="https://goo.gl/maps/GEnthGTtZEnZhSmF6">River West</a>,
                        <a href="https://goo.gl/maps/SwmLyu4jb5QVdW2V6">Near West Side</a>, <a href="https://goo.gl/maps/bK7HwDtWybGvDkMy5">South Loop</a>,
                        <a href="https://goo.gl/maps/i4HY7L2sGtbJAQjS6">Chinatown</a>, <a href="https://goo.gl/maps/q3bNHupUmQ8GtRzY9">Downtown</a>,
                        <a href="https://goo.gl/maps/xZzjVuiTjpzrAyvd9">Homan Square</a>, <a href="https://goo.gl/maps/zjDdwDyhci1dbug58">Little Italy</a>,
                        <a href="https://goo.gl/maps/qx26daJTC3tPcXBv5">Chicago</a>, <a href="https://goo.gl/maps/woi6ADUg7N9E4rp88">Cook County</a>
                    </p>

                </div>
            </div>

         </div>
    </div>

    <div align="center" style="margin: 10px">
            <hr style="color: yellow; background-color: yellow">
            <h4>Información de la batería del automóvil</h4>
            <div>
                <h6 align="left">Duración de la batería</h6>
                <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">La batería típica de un automóvil dura de 3 a 5 años, dependiendo del tipo de clima en el que viva. Si vives en un área que experimenta calor o frío extremo, es posible que tu batería no funcione a su tercer cumpleaños. Si usa su automóvil principalmente para viajes cortos (un tiempo de ejecución promedio de menos de 20 minutos), es posible que su batería no tenga una vida útil prolongada porque su alternador rara vez tiene la oportunidad de recargarlo por completo.</p>
            </div>

            <div>
                <h6 align="left">Por qué fallan las baterías de automóviles</h6>
                <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">El calor o el frío extremos pueden aumentar la velocidad de descarga de la batería, lo que hace que el invierno sea
triple amenaza para su batería. Toda esa exposición al calor del verano evapora el agua.
en el electrolito, aumentando la sulfatación. Luego llega el invierno y se congela
las temperaturas ralentizan las reacciones químicas que ocurren dentro de una batería de plomo ácido, además
reduciendo la capacidad de rendimiento de su batería. Al mismo tiempo, un motor frío y lento
el petróleo demanda más energía, mientras que las características que consumen mucha energía como el calor y la descongelación colocan más
demanda de su batería. Aunque las baterías de plomo ácido duran un promedio de cuatro años,
pueden fallar antes bajo las condiciones correctas (o incorrectas).</p>
            </div>

            <div>
                <h6 align="left">Funciones de una batería de automóvil</h6>
                <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">La batería de un automóvil es el equipo más crucial para arrancar y conducir su vehículo.
Envía energía desde el motor de arranque a las bujías, encendiendo el combustible de su automóvil,
mientras que también le da poder a otros sistemas. Esto incluye luces, radio, aire acondicionado,
y más. Es posible que pueda saber cuándo la batería de su automóvil comienza a agotarse si la encuentra
difícil de comenzar, luces parpadeantes o un sistema de alarma debilitado</p>
            </div>

        </div>

    <div align="center">
        <hr style="color: yellow; background-color: yellow">

        <h4>Cómo poner en marcha la batería de un automóvil</h4>

        <div>
            <h6>1. Localizar la batería</h6>

              <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">En muchos automóviles, la batería se encuentra en el compartimiento del motor debajo del capó. De todos modos, eso también puede ubicarse en el maletero o debajo del asiento trasero de su automóvil. En el caso de una batería que ha sido muerto durante mucho tiempo, es mejor llamar a un proveedor profesional de servicios de inicio rápido debido al riesgo adicional de complicaciones.</p>

                </div>
                <div class="col-lg-6 col-12">
                    <img class="img_pic" src="https://jumpservicechicago.s3.us-east-2.amazonaws.com/car-battery-jump-start-service.jpg" alt="jump start service Chicago IL">

                </div>
              </div>

        </div>

        <div>
            <h6>2. Conecte los cables de puente</h6>

            <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">Identifique el terminal positivo (+) o el punto de conexión debajo del capó. Sujete una de las pinzas rojas positivas a el terminal positivo. A continuación, conecte la otra pinza roja al terminal positivo de el auto que proporciona el salto, seguido de la pinza negra negativa a la negativa terminal del automóvil que proporciona el salto. Asegure una conexión a tierra y evite dañar la batería, conecte la abrazadera negativa final a un componente metálico considerable del motor.</p>

                </div>
                <div class="col-lg-6 col-12">
                    <img class="img_pic" src="https://jumpservicechicago.s3.us-east-2.amazonaws.com/jumper-cables-jump-start-service.jpg" alt="jump start service Chicago IL">

                </div>
            </div>

        </div>

        <div>
            <h6>3. Intenta arrancar el auto</h6>

            <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <p style="border: 1px solid whitesmoke; border-radius: 5px; background-color: whitesmoke; padding: 5px">Intenta arrancar el auto con la batería descargada. El automóvil puede girar lentamente, pero el objetivo es Ponga el motor en marcha. Si el automóvil no arranca, verifique todos sus conexiones, ajustando las abrazaderas según sea necesario para garantizar un contacto completo y reinicie el motor del auto que proporciona el salto. Si el automóvil aún no arranca, deje los cables conectados y deje que el vehículo en funcionamiento cargue la batería agotada durante 5 a 10 minutos antes de intentar arrancar el auto muerto nuevamente. Es una buena idea mantener la batería en uso. durante 30 minutos antes de apagar el motor para asegurar que la carga se mantenga.</p>

                </div>
                <div class="col-lg-6 col-12">
                    <img class="img_pic" src="https://jumpservicechicago.s3.us-east-2.amazonaws.com/car-jump-start-service.jpg" alt="jump start service Chicago IL">

                </div>
            </div>

        </div>

    </div>

    <div align="center">
            <hr style="color: yellow; background-color: yellow">

            <h4>Contáctenos</h4>

            <div align="center">
                <iframe class="jumpservice_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.71601800894!2d-88.01234150586738!3d41.83339249957157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e33ad94b2b981%3A0x226556739ebfc1f3!2sChicagocarhelp!5e0!3m2!1sen!2sus!4v1566764274203!5m2!1sen!2sus" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container">
              <div class="row">
                <div class="col">
                  <h5>Contact</h5>

            <h6>Jump Start Service Chicago - Chicagocarhelp</h6>
            <h6>Car Service</h6>
            <h6>Towing Service</h6>
            <h6>Chicago, IL, US</h6>
                    <a href="tel:+17085489664"><button class="btn btn-success btn-lg">CALL NOW</button></a>
                    <p>708-548-9664</p>
                </div>
                <div class="col">
                  <h5>Business Hours</h5>
                    <p>
                        Mon:	8:00 AM – 12:00 PM
                                    <br>
                        Tue:	8:00 AM – 12:00 PM
                                    <br>
                        Wed:	8:00 AM – 12:00 PM
                                    <br>
                        Thu:	8:00 AM – 12:00 PM
                                    <br>
                        Fri:	8:00 AM – 12:00 PM
                                    <br>
                        Sat:	8:00 AM – 7:00 PM
                                    <br>
                        Sun:	8:00 AM – 7:00 PM
                    </p>
                </div>
              </div>
            </div>

        </div>


    <div align="center" style="margin: 10px">
        <hr style="color: yellow; background-color: yellow">

        <h4>Social</h4>

                <a href="https://m.facebook.com/jumpstartcar">
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/facebook.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
                </a>

                    <a href="https://www.youtube.com/channel/UC8bYCR_hyh9ZalXqpt5GASg?view_as=subscriber">
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/youtube.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
                </a>

                    <a href="https://g.page/chicagocarhelp">
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/google.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
                </a>
                    <a href="https://www.yelp.com/biz/chicagocarhelp-cicero-3">
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/Yelp.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
                </a>

                    <a href="https://www.linkedin.com/company/chicagocarhelp">
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/linkedin.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
                </a>

                    <a href="http://chicagocarhelp.tumblr.com">
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/tumblr.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
                </a>



    </div>

    <div align="center">
        <footer>
            <small>Copyright&copy; 2019, Jumpservicechicago. All Rights Reserved</small>
        </footer>
    </div>
    </div>
</div>
</body>
</html>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


<script>
$(document).ready(function(){
    $('#sell').change(function() {
        var value = $('#sell :selected').val();
        $('#total').text(70+(29*value));
  });
});
</script>


<script>
    function xc() {
        let whole_text = document.getElementById('show-compe').style;
        whole_text.visibility = 'visible';
        whole_text.display = 'block'

    }
    document.getElementById('dis-compe').addEventListener("click", xc, false)

</script>


<script>
    function xcz() {
        let whole_text = document.getElementById('show-compe2').style;
        whole_text.visibility = 'visible';
        whole_text.display = 'block'

    }
    document.getElementById('dis-compe2').addEventListener("click", xcz, false)

</script>