<!DOCTYPE html>
{% extends 'helper/home.html' %}
{% block body_block %}

    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_thanks.jpg" alt="" style="width: 100%; height: auto">

{% if lan == 'english' %}
        <div class="container" align="center">
            <h5 class="centered" style="color:#5477ff;">I will contact you in a few seconds.</h5>
            <h5 style="color:red;">If You don't get a response in 1 minute please make sure your phone number is correct</h5>

        </div>

    <div align="center">
            <h5>We accept credit/debit card, cash or Venmo</h5>
            <h5>You will be charged when your service has been completed</h5>
    </div>
    {% else %}
    <div align="center">
                <h5 style="color: #0005cc">Aceptamos tarjeta de crédito / débito, efectivo o Venmo.</h5>
            <h5 style="color: #0005cc">Se le cobrará cuando su servicio haya sido completado</h5>
    </div>
    <div class="container"><h5 class="centered">Gracias por elegir WWW.CHICAGOCARHELP.COM para su asistencia en carretera. Llegaré en unos minutos.</h5></div>
{% endif %}

{% endblock %}
