<!DOCTYPE html>
{% extends 'helper/services.html' %}
{% block body_block %}

    <img src="http://drive.google.com/uc?export=view&id=1xT_SJDhfKa1qD19fJTAE1xmxOMecl-NS" alt="" style="width: 100%; height: auto">
    <div align="center" class="price">Total: ${{ total }}</div>

{% if lan == 'english' %}
    <div align="center">
            <h5 style="color: #0005cc">We accept credit/debit card, cash or Venmo</h5>
            <h5 style="color: #0005cc">You will be charged when your service has been completed</h5>
    </div>
    <div class="container"><h4 class="centered">Thank you for choosing WWW.CHICAGOCARHELP.COM for your road side assistance. I will arrive in a few minutes.</h4></div>
    {% else %}
    <div align="center">
                <h5 style="color: #0005cc">Aceptamos tarjeta de crédito / débito, efectivo o Venmo.</h5>
            <h5 style="color: #0005cc">Se le cobrará cuando su servicio haya sido completado</h5>
    </div>
    <div class="container"><h4 class="centered">Gracias por elegir WWW.CHICAGOCARHELP.COM para su asistencia en carretera. Llegaré en unos minutos.</h4></div>
{% endif %}

{% endblock %}
