<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" >
    <title>unfreeze car door| Roadside assistance</title>
    <meta name="description" content="Can't open your door because it's frozen? We can unfreeze your door
    or lock in minutes. No call needed and we offer the cheapest prices.">


    <meta name="keywords" content="Unfreeze car door, Unfreeze frozen car door, Unfreeze car door
    near me, Unfreeze car door chicago.">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}"/>

</head>
<body>
    <div class="bottom_margin container" align="center">

                            <div style="position: relative; text-align: center; color: white">
                            <div style="margin-top: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <p class="pic_background make_big">UNFREEZE CAR DOOR SERVICE</p>
                                <p class="pic_background make_big">Frozen car lock? We can get you the help you need in minutes.</p>

                            </div>
                        <img style="width: 100%"
                             src="http://drive.google.com/uc?export=view&id=13ZeJm6-2HmxX7naqydz9Wsy_FVp_wsWv" alt="unfreeze car lock">
                        </div>

        <div class="top_margin bottom_margin">
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm" style="margin-bottom: 2px">Need fuel delivery?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm" style="margin-bottom: 2px">Need a jump start?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm" style="margin-bottom: 2px">Unlock car door?</button></a>
            <a href="{% url 'help:home'%}"><button class="btn btn-primary btn-sm" style="margin-bottom: 2px">unfreeze car door?</button></a>
        </div>


    <p class="make_big"> Just click the blue button and within
        minutes you will receive a text from us to let you know when
        we will arrive to unfreeze your car lock. You don't have to call or enter your address manually.</p>
        <div align="center">
            <a href="{% url 'help:home'%}"><button class="btn btn-primary">GET HELP NOW</button></a>
        </div>


        <div style="margin-bottom: 10px;margin-top: 50px; border: 1px solid black; padding: 5px">
            <div class="top_margin2">
            <p class="put_left" style="color: #571746">NO CALL REQUIRED</p>
            <p>You don't have to call you only need to click a button and in a
                few minutes you will receive a message to let you know when help will arrive to unfreeze your car lock.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: #571746">GET THE BEST CAR SERVICE HELP NEAR YOU FAST</p>
            <p>We mainly operate in Chicago so you can be sure we will unfreeze your car in minutes.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: #571746">THE CHEAPEST ROADSIDE ASSISTANCE</p>
            <p>We only charge $49 to unfreeze your car door. Other guys charge you over $70 to do the same job.</p>
            </div>
            <div class="top_margin2">
            <p class="put_left" style="color: #571746">Where are we available?</p>
            <p>reliable emergency roadside assistance for car lockout, jump starts, out of gas and tire changes. We operate in Chicago, Cicero and Berwyn. </p>
            </div>
        </div>


<div class="top_margin">
    <h4 style="color: #571746">How to unfreeze your car door.</h4>

    <p>You’re not the only thing that can freeze in frigid weather. Your car lock does too.
        It only takes a small amount of water to freeze a lock up and prevent it from opening.
        It can happen both when your car has been sitting out in the freezing cold for a little
        too long, or you made the mistake of washing your car when the temperature dips.</p>
</div>

<div class="purple_shadow_two">
<h5>Don’t Use Hot Water</h5>
<p>Common knowledge may tell you to warm your lock up, so many think hot water will do the trick.
    It won’t. While hot water may successfully defrost the lock and allow it to open, it’s
    only a good trick in the short term. Boiling water can actually damage your lock and once the
    water cools, it will freeze your lock over again, furthering your problem.</p>
</div>


<div class="purple_shadow_two">
<h5>Hand sanitizer</h5>
<p>Who knew that little bottle of hand sanitizer could be so useful? The secret ingredient is the
    rubbing alcohol which lowers the freezing point of water and melts the ice inside the lock almost instantly.</p>
</div>



<div class="purple_shadow_two">
<h5>Lighter</h5>
<p>If your key doesn’t have plastic parts, you could also try heating the key with a cigarette lighter or
    lighted matches</p>
</div>





    <div class="purple_shadow">
        <h6>More info</h6>
        <a href="https://www.yellowpages.ca/tips/how-to-de-ice-a-frozen-car-lock/">Tools to unfreeze car door</a><br>
        <a href="https://blog.firestonecompleteautocare.com/driving/how-to-unfreeze-your-door-lock/">How to unfreeze frozen car door</a><br>
        <a href="https://www.quora.com/What-is-the-best-way-to-unfreeze-a-frozen-car-door-lock">The best way to unfreeze car door</a>
    </div>

</div>

</body>
</html>
